certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
execnet==2.1.1
fonttools==4.51.0
idna==3.7
iniconfig==2.0.0
kiwisolver==1.4.5
lxml==5.2.1
matplotlib==3.8.4
numpy==1.26.4
packaging==24.0
pillow==10.3.0
plotly==5.20.0
pluggy==1.4.0
pyparsing==3.1.2
pytest==8.1.1
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
python-docx==1.1.0
pytz==2024.1
requests==2.32.0
six==1.16.0
tenacity==8.2.3
toml==0.10.2
typing_extensions==4.11.0
urllib3==2.2.1
